[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Exec={{ rider_install_dir }}/Rider-{{ rider_version }}/bin/rider.sh
Icon={{ rider_install_dir }}/Rider-{{ rider_version }}/bin/rider.png
Terminal=false
Categories=Development;IDE;
